<!doctype html>
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Guacamole</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/bootstrap-apple-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap-apple-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap-apple-114x114.png">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato|Snippet">
    <!-- @TODO less server-side -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/unless.css">

    <!-- All JavaScript at the bottom, except for Modernizr / adapt / IE9.js -->
    <!--[if lt IE 9]>
      <script src="/js/IE9.js"></script>
    <![endif]-->
    <script>
        var ADAPT_CONFIG = {
          // CSS path
          path: '/css/grids/',

          // Change on window resize and page tilt.
          dynamic: true,

          // First range entry is the minimum.
          // Last range entry is the maximum.
          // Separate ranges by "to" keyword.
          range: [
            '0px    to 760px  = mobile.min.css',
            '760px  to 980px  = 720.min.css',
            '980px  to 1280px = 960.min.css',
            '1280px to 1600px = 1200.min.css',
            '1600px to 1940px = 1560.min.css',
            '1940px to 2540px = 1920.min.css',
            '2540px           = 2520.min.css'
          ]
        };
    </script>
    <script src="/js/adapt.min.js"></script>
    <script src="/js/modernizr.min.js"></script>

</head>
<body>
    <header class="topbar-wrapper">
        <div class="topbar" data-dropdown="dropdown" >
            <div class="topbar-inner">
                <div class="container_12">
                    <h1>
                        <a href="#"><strong>guacamole</strong><img src="/images/logotype.png" alt="logotype" width="35" height="29" /></a>
                    </h1>
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">Dropdown</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Secondary link</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Another link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="pull-left" action="">
                        <input type="text" placeholder="Search" />
                    </form>
                    <ul class="nav secondary-nav">
                        <li class="dropdown"> <a href="#" class="dropdown-toggle"><i class="iconic cog"></i>Gestion application</a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="iconic user"></span>Gestion utilisateur</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="iconic x"></span>Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!-- /topbar-inner -->
        </div><!-- /topbar -->
    </header><!-- /topbar-wrapper -->

    <div id="global_content" class="container_12">
        <section id="content">
            <section id="navigation_docs" class="grid_12">
                <h3>Chemin de navigation<span class="iconic link"></span></h3>
                <ul class="breadcrumb">
                    <li>
                        <form id="global_uploader">
                            <div id="uploader" class="btn large primary" data-placement="below" rel='twipsy' title='Cliquer ou glisser/déposer des documents'>
                                <span class='iconic box'></span>
                                <label>Uploads</label>
                                <input type=file id="file" multiple>
                            </div>
                        </form>
                    </li>
                </ul>
            </section>
            <section id="sub_directory" class="grid_4">
                <h3>Sous-répertoires<span class="iconic read-more"></span></h3>
                <ul>
                    <li>
                        <form class="pull-left" action="/tags" method="post">
                            <input type="text" name="label" placeholder="créer un répertoire" />
                            <button type="submit" class="btn success">Ajouter</button>
                        </form>
                    </li>
                    <!--
                    <li><a href="#" title=""><i class="iconic arrow-right-alt"></i><span>Another one</span></a></li>
                    -->
                </ul>
            </section>
            <style>
            /* @FIXME a mettre dans les .less */
            .overlay {
                display: none;
            }
            
            .overlay > div {
                position: absolute;
                top: 6px;
                right: 6px;
            }
            </style>
            <section id="rightbar"  class="grid_8">
                <section class="overlay global_uploads">
                    <h3>Uploads en cours</h3>
                    <div class="right">
                        <button class="btn danger">Fermer</button>
                        <button class="btn primary" onclick="alert('@TODO')">Édition par lots</button>
                    </div>
                    <ul>
                    </ul>
                </section>
                
                <section class="overlay global_tags">
                    <h3>Edition des tags</h3>
                    <div class="right">
                        <button class="btn danger">Fermer</button>
                        <button class="btn primary disabled" disabled>Édition par lots</button>
                    </div>
                    
                    <ul id="tags">
                    </ul>
                    <ul>
                    </ul>
                </section>
                
                <section id="navigation_tags">
                    <h3>Tags<span class="iconic tag"></span></h3>
                    <form>
                        <ul id="tags">
                        </ul>
                    </form>
                </section>
                <section id="liste_docs clearfix">
                    <h3>Liste des documents<span class="iconic document"></span></h3>
                    <table class="zebra-striped" id="documents">
                        <thead>
                            <tr>
                                <th style="width:50%;">Titre du document</th>
                                <th>date de maj</th>
                                <th>Poids</th>
                                <th>Type</th>
                                <th><input type="checkbox" /></th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <form action="/documents/batch/" style="text-align:right; opacity: 0;">
                        Pour la sélection :
                        <select>
                            <option value="download">Télécharger
                            <option value="tags">Editer les tags
                            <option value="move">Déplacer
                            <option value="delete">Supprimer
                        </select>
                        <button class="btn">ok</button>
                    </form>
                </section>
            </section>
        </section>
    </div>
    <footer id="footer">
        <div class="inner">
            <div class="container_12">
                <p class="right"><a href="#">Back to top</a></p>
                <p>Guacamole © TOOG - 2011</p>
            </div>
        </div>
    </footer>

<!-- JavaScript at the bottom for fast page loading -->
<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

<!-- Script Library -->
<!-- Data injection -->
<script src="/js/jquery.url.js"></script>
<script src="/js/hogan.js"></script>

<!-- Nice stuff -->
<script src="/js/tag-it.js"></script>
<script src="/js/jquery.tablesorter.min.js"></script>
<script src="/js/bootstrap/bootstrap-dropdown.js"></script>
<script src="/js/bootstrap/bootstrap-twipsy.js"></script>
<script src="/js/bootstrap/bootstrap-scrollspy.js"></script>
<script src="/js/bootstrap/bootstrap-buttons.js"></script>
<script src="/js/bootstrap/bootstrap-tabs.js"></script>

<script src="/js/application.js"></script>
<script src="/js/main.js"></script>
<!-- end scripts-->

<!--[if lt IE 8 ]>
    <script src="///ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

</body>
</html>