/* main.less
 * Basic and global styles for page templates
 * ------------------------------------------------------------- */
/* HEADER */
header {
	margin-bottom: 40px;
}
/* CONTENT */
#content {
	position: relative;
	margin-top: 20px;
}
#content section h3 {
	color: @white;
	.barbackgrounds;
  .border-radius-top;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}
#content section h3 .iconic {
	float: right;
	font-size: 1.6em;
	color: @white;
}
#filter_toggle {
	cursor: pointer;
	.user-select;
}
#filters, #sub_directory, #search_informations ul {
	list-style: none;
	.greybackgrounds;
}
#filters {
	.input {
		margin-left: 90px;
	}
	label {
		width: 74px;
	}
	fieldset {
		margin-bottom: 0;
		padding-bottom: 0;
		padding-top: 0.7em;
	}
	&.filters_close {
		height: 0;
		padding: 0;
		border: none;
	}
}
#sub_directory {
	li {
		font-size: 1.1em;
		padding-bottom: 3px;
		padding-top: 3px;
		border-bottom: 1px rgba(0, 0, 0, .1) solid;
		border-top: 1px rgba(255, 255, 255, .9) solid;
		i {
			padding-right: 5px;
			font-size: 1.4em;
			padding-left: 5px;
		}
		&:last-child {
			border-bottom: none;
		}
		&:hover {
			background-color: @linkColor;
			a {
				color: @white;
			}
		}
		&:first-child {
			border-top: none;
			border-bottom: none;
			&:hover {
				background-color: transparent;
				a {
					color: inherit;
				}
			}
		}
	}
	a {
		display: block;
		&:hover {
			text-decoration: none;
			span {
				text-decoration: none;
			}
		}
	}
}
#rightbar {
	position: relative;
}

/* !! OVERLAY SPECIFIQUE !! */
.warning {
	.iconic {
		font-size: 1.8em;
	}
}
.document_edit {
	img {
		display: block;
		max-width: 64px; // Cf conf.json
		max-height: 64px; // Cf conf.json
		border: 1px solid #ccc;
  	.border-radius(3px);
  	cursor: pointer;
	}
	fieldset {
		margin-bottom: 0;
		padding-bottom: 0;
		padding-top: 0.7em;
	}
	#editfiles {
		.actions {
			padding: 0;
		}
	}
}
#fileInput {
  display: none;
}
/* FOOTER */
#footer {
  margin-top: 80px;
  border-top: 1px solid black;
}
#footer p {
  margin-bottom: 0;
  color: rgba(0,0,0,.8)
}

/* @TODO A optimiser (en particulier le li (.inline)) */
#search_informations button span {
	font-size: 1em;
	margin-right: 5px;
}
#search_informations form {
	margin-bottom: 0;
}
#search_informations form .iconic {
	font-size: 2.2em;
	padding: 2px 4px;
	height: 28px;
	margin-top: -2px;
}
#search_informations ul.inline li {
	float: left;
	display: inline;
}
#search_informations ul.inline li.right {
	float: right;
}

ul.dir_select li {
	float: left;
	list-style-type: none;
}

ul.dir_select li ul li {
	float: none;
}